body {
  font-family: Arial, sans-serif;
  background: #020617;
  color: #e5e7eb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #0f172a;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #22c55e;
  color: black;
}

button:hover {
  background: #16a34a;
}

#status {
  font-size: 14px;
  margin-bottom: 12px;
}